<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 class="mb-0">{{a.firstname}}
                <span class="text-primary">{{a.lastname}}</span>
            </h1>
            <div class="subheading mb-5">{{a.address}} · {{a.phone}} ·
                <a ng-href="mailto:{{a.email}}">{{a.email}}</a>
            </div>
            <p class="mb-5">{{a.about_me}}</p>
            <ul class="list-inline list-social-icons mb-0">
                <li class="list-inline-item" ng-repeat="x in a.social">
                    <a ng-href="{{x.link}}">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-stack-1x fa-inverse" ng-class="x.icon"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>